<div class="row justify-content-center">
    <div class="col-sm-3">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="ime">Ime</label>
                <input type="text" formControlName="ime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ime.errors }" />
                <div *ngIf="submitted && f.ime.errors" class="invalid-feedback">
                    <div *ngIf="f.ime.errors.required">Ime is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" formControlName="prezime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prezime.errors }" />
                <div *ngIf="submitted && f.prezime.errors" class="invalid-feedback">
                    <div *ngIf="f.prezime.errors.required">Prezime is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="sifra">Sifra</label>
                <input type="password" formControlName="sifra" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sifra.errors }" />
                <div *ngIf="submitted && f.sifra.errors" class="invalid-feedback">
                    <div *ngIf="f.sifra.errors.required">Sifra is required</div>
                    <div *ngIf="f.sifra.errors.minlength">Sifra must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>